  
  .container {  display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 4fr 4fr 4fr 4fr 2fr 2fr 2fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "cunt cunt cunt logo nav1 nav1 nav1"
      "nav2 nav2 nav2 nav2 nav2 nav2 nav2"
      "imgs imgs imgs imgs imgs imgs imgs"
      "imgs imgs imgs imgs imgs imgs imgs"
      "imgs imgs imgs imgs imgs imgs imgs"
      "imgs imgs imgs imgs imgs imgs imgs"
      "grd1 grd1 grd2 grd2 grd2 grd3 grd3"
      "grd1 grd1 grd2 grd2 grd2 grd3 grd3"
      "grd1 grd1 grd2 grd2 grd2 grd3 grd3"
      "Foot Foot Foot Foot Foot Foot Foot";
  }
  

 

@font-face{
  font-family: "christ";
  src: url("christ_font.ttf");
}
@font-face{
  font-family: "clock";
  src: url("clock.ttf");
}
@font-face{
  font-family: "merry";
  src: url("merry2.ttf");
}
body{
  background-image: url(background.png);
  background-size:cover;
background-repeat: no-repeat;
}
.cunt { grid-area: cunt; }
  
.nav1 { grid-area: nav1; }

.logo { grid-area: logo; 
text-align: center;
}

.nav2 { grid-area: nav2;}

.Foot { grid-area: Foot;
background-color: black;
color: white;
text-align: center;}

.imgs { grid-area: imgs; 
  
}
#examples{
  background-image: url(list.png);
  background-repeat: no-repeat;
  background-position: center center;
  margin: 40px;
  height: 100%;
  background-size: 350px 500px;
  margin-bottom: 0;

}

.grd3 { grid-area: grd3;
  font-family: merry;
  color: #355747;
  font-size: 40px;
  margin: 20px;
  
}

.grd1 { grid-area: grd1;
  font-family: merry;
  color: #355747;
  font-size: 40px;
  margin: 20px;
  }

.grd2 { grid-area: grd2;
  margin-top: 100px; 
  font-family: merry;
  color: #355747;
  font-size: 90px;
  margin: 20px; 
  text-align: center;
  font-weight: bolder;
  margin-top: 0;

}



html, body , .container {
    height: 100%;
    margin: 0;
}
  
#count{
  
  font-size: 90px;
  font-family: merry;
  font-weight: bolder;
  margin-left: 60px;
  color: #355747;
  padding: 5%;
  padding-top: 2%;
  text-align: left;
  
}
#h1count{
  font-size: 50px;
  font-family: "clock";
  font-weight: bolder;
  margin-left: 30px;
  color: #355747;
  text-shadow: 2px 2px #4b4b4b7e;
  margin-bottom: 0;
}

.santanav {
  font-size: 40px;
  font-family: merry;
  font-weight: bolder;
  margin-left: 60px;
  color: #355747;
  padding: 5%;
  text-align: right;
  
}
.santanav a {
  font-size: 90px;
  font-family: merry;
  font-weight: bolder;
  margin-left: 60px;
  color: #355747;
  padding: 5%;
  padding-top: 2%;
  text-decoration: none;
}
.santanav a:hover {
  
  color: #50856c;
}

@media (orientation: portrait) { 
  #examples{
    background-image: url(list.png);
    background-repeat: no-repeat;
    background-position: center center;
    margin: 40px;
    height: 100%;
    background-size: 600px 1000px;
    margin-bottom: 0;
  
  }
}